@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<section class="text-white w-full Main-BG Text-Title">
    <div class="pt-20 pb-6 ">
        <h1 class="text-red-600 text-5xl font-extrabold text-center Main-Title pb-3">
            Get Pizza Today
        </h1>

        <h4 class="text-white text-6xl font-extrabold text-center Main-Title">
            And Make Order AnyWhere
        </h4>
    </div>

    <div class="flex  justify-center">
        <div class="max-w-screen-2xl w-full">
            <div class="Box-Area grid gap-6 mx-12 mt-16 pb-12 md:grid-cols-1 lg:grid-cols-2">
                <div class="Box-Image Box-Image-1 flex flex-col justify-center">
                    <div class="mx-12">
                        <h1 class="font-black text-5xl pb-3">Cheeze Pizza</h1>
                        <h4 class="text-3xl pb-3">Pizza With Extra cheezzz</h4>
                        <button class="rounded-lg text-white bg-red-600 py-2 px-4 font-medium">Order Now</button>
                    </div>
                </div>

                <div class="grid grid-row-2 gap-6">
                    <div class="Box-Image Box-Image-2 flex flex-col items-center justify-center">
                        <h3 class="text-3xl font-bold pb-3">Get Our Email Post</h3>

                        <form class="flex items-center">
                            <div class="relative">
                                <input type="text" id="voice-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full pl-10 p-2.5" placeholder="Enter Your Email" required="">
                            </div>
                            <button type="submit" class="inline-flex items-center py-2.5 px-3 ml-2 text-sm font-medium text-white bg-red-600 rounded-lg border">
                                <svg aria-hidden="true" class="mr-2 -ml-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
                                </svg>
                                Send
                            </button>
                        </form>
                    </div>
                    <div class="Box-Image Box-Image-3 flex items-center justify-center">
                        <h3 class="text-5xl font-black">Check <span class="text-red-600">Menu</span></h3>
                    </div>
                </div>
            </div>

            <div class="Make-Own mx-12 mt-1 mb-12 flex flex-col justify-center items-center">
                <h1 class="font-black text-5xl">Make Your Own Pizza With Us</h1>
            </div>
        </div>
    </div>
</section>